.about-section {
  padding: 1px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.paragraph {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}